.Home {
  background-image: url(../imges/homePage.png);
  width: 100%;
  height: 48vh;
}
@media (min-width: 992px) {
  .Container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .Container {
    max-width: 1140px;
  }
}
.Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.Container_title {
  height: 50vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Container_title h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px #575757;
  color: white;
  margin-top: 5rem;
}
.Container_title h6 {
  text-shadow: 2px 2px #575757;
  font-size: 1.25rem;
  color: white;
  padding-left: 15px;
}
